.hidden {
  display: none;
}
#heading-image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.result-image {
  padding-bottom: 10px;
}

body {
background-color: rgb(236, 236, 236);
font-family: Arial, sans-serif;
}

h1 {
  color: rgb(90, 22, 100);
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  color: rgb(0, 0, 146);
}

label {
  color: rgb(90, 22, 100);
}

hr {
  background-color: rgb(155, 152, 152);
  height: 1px;
  border: none;
}

#button {
  background-color: rgb(90, 22, 100);
  border: none;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
  display: inline-block;
  font-size: 16px;
}

a:link, a:visited {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  background-color: rgb(202, 202, 202);
  color: rgb(90, 22, 100);
}

a:hover, a:active {
  text-decoration: underline;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  background-color: rgb(202, 202, 202);
  color: rgb(90, 22, 100);
}

#javascript p, #c-sharp p, #ruby p {
  color: rgb(90, 22, 100);
  padding: 15px;
}

#javascript h2, #c-sharp h2, #ruby h2 {
  color: rgb(0, 0, 146);
  font-style: italic; 
  padding: 10px;
}

#javascript img, #c-sharp img, #ruby img {
  padding: 10px;
}

#languages-image {
  padding: 10px;
}

#javascript, #ruby, #c-sharp {
  background-color: white;
  margin-bottom: 15px;
  margin-bottom: 15px;
}
